@import url("https://fonts.googleapis.com/css?family=Acme|Gaegu|Merienda");

*{
    font-family: 'Gaegu', cursive;
}

.article{
    text-align: justify;
}

.icon-child{
    font-size: 20px;
    width:50px;
}

.district{
    display:inline-flex;
}

.first{
    margin-right:190px;
}